html {
    height: 100%;
}
*{
    box-sizing: border-box;
}
body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-image: url(image/background.jpg)  ;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#main-left {
    width: 280px;
    height: 100%;
    background-color: rgb(87, 55, 55);
    display: flex;
    flex-direction: column;
    overflow: hidden; 
  /*  display: none;   */
}
    .something{
        width: 45px !important;
    }
    .something .title, .something .count,.something .text, .something #user-bar #user:hover .menu-user  {
        display: none;
    }
#main-mid {
    flex-grow: 1;
    flex-shrink: 2;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#main-right {
    width: 367px;
    height: 100%;
  /*  border: 1px solid black;  */
    display: none;    
  overflow: hidden;
}

#top-left {
    height: 45px;
    background-color: #5B7A59;
    display: flex;
    
}

#top-left input {
    flex-grow: 1;
    background-color: #5B7A59;
    color: aliceblue;
    font-size: 16px;
    border: 1px solid  #5B7A59;
    outline: none
}

#top-left #menu {
    width: 42px;
    padding: 11px;
}

#top-left #search {
    width: 42px;
    padding: 11px;
}

#main-left #user-bar, #main-left-responsive #user-bar {
    background-color: #F7F7F7;
    width: 100%;
    height: 51px;
}

#user-bar{
    width: 200px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#user-avatar{
    margin: 6px;
}
#user-avatar img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: auto;
}

#user {
    width: 200px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}







/*---------------hover menu------------------------*/



#user .list{
 /*   border: 1px solid red;      */
    background: white;
    position: absolute;
    width: 226px;
    height: 371.2px;
    margin-top: 22px;
    padding-left: 4px;
    list-style: none;
    display: flex;
    flex-direction: column;
    left: 7px;
    
    
}
#user .menu-user{
 display: none;        
}
#user .menu-user-2{
    display: block;
}

#user .menu-user ul{
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

#user .list li{
  /* border: 1px solid green;      */
    width: 100%; 
    height: 100%;
    
}
#user .list .li-1{
    border-bottom: 1px solid #ebebeb;
}
#user .list #text-1{
    color: #9fa2a6;;
}

#user .list li a{
    text-decoration: none;
    color: #262626;
    font-size: 13px;
    line-height: 29px;
    height: 34px;
    display: block;
}
#user .text{
    margin-left: 16px;
}
#user #li-2 a:hover{
    color: white;
    background: #328AD6;
}
#user-bar #user:hover .menu-user
{
  /* display: block;  */
}


/*----------------------------------end hovermenu------------*/






#user #user-name {
    position: relative;
    width: 95.61px;
    height: 32px;
    line-height: 32px;
    margin-left: 5px;
    font-size: 15px;
    overflow: hidden;
}

#user #user-arrow{
    padding-top: 3px;
    margin-left: -3px;
}
#stream-counts{
    fill: #9fa2a6;
}


#stream-counts #bell {
    padding: 0 10px;
    cursor: pointer;
    margin-right: -5px;
    
}



#stream-counts #message {
    padding: 0 10px;
    cursor: pointer;
    
}

.lists-scroll{
  /*  border: 1px solid yellow; */
    flex-grow: 1;
    overflow-y: auto;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    cursor: pointer;
    font-size: 14px
}


 #filter-colection{
    
    width: 100%;
    height: 38px;
  /*  background-color: #E0EEFA;  */
    
    padding-left: 4px;
    display: flex;
    align-items: center;
}

#filter-colection .icon{
    margin: 3px;
    padding-top: 4px;
    padding-left: 5px
    
}
#filter-colection .icon  svg{
    fill:#2b8dec;

}

#filter-colection .title{
    padding-left: 6px;
    flex-grow: 1;
    font-size: 15px;
    
}
#filter-colection .count{
    padding-right: 18px;
    color: #BDBCC8;
    font-size: 12px;
}


.lists-colection{    
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    background-color:  #F7F7F7;
}
.lists-scroll .lists-colection li{
    /*border: 1px solid green;*/
    width: 274.4px;
    height: 38px;
    line-height: 38px;
    display: flex;
    
}

.lists-colection .icon{
    padding-top: 5px;
    padding-left: 12px;
}

.lists-colection .icon svg{
    fill: #B7B7B7;
}
.lists-colection .title{
    padding-left: 7px;
    flex-grow: 1;
}



#bottom-left{
   /* border: 1px solid red;  */
    width: 100%;
    height: 42px;
    display: flex;
    background-color: #F7F7F7;
    align-items: center;
    border-top: 1px solid #BDBCC8;
    cursor: pointer;
}
#bottom-left .icon svg{
    fill: #32A7E5;
}

#bottom-left .icon{
    padding-left: 10px;
    
}

    #bottom-left .text{
    flex-grow: 1;
    color: #32A7E5;
    padding-left: 7px;
    font-size: 18px;
}

/* --------------------responsive-------------------------------------------------------*/
#main-left-responsive{
 /*   border: 1px solid red;*/
    width: 45px;
    height: 100%;
    display: flex;
    flex-direction: column;

   display: none;   
}
    #main-left-responsive .lists-scroll a{
        text-align: center;
        fill: #32A7E5;
        margin: 11px;
    }




/*-----------------------------------------------------------------------------------------------------*/


#main-mid{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    
  /*  border: 1px solid pink;  */
} 

.top-main{
  /*  border: 1px solid blue;  */
    height: 45px;
    display: flex;
    align-items: center;
    background: #668964;
}

.top-main .text{
  /*  border: 1px solid red;  */
    flex-grow: 1;
    padding: 13px;
    font-size: 22px;
    color: white;
}


.top-main .lists-icon{
 /*   border: 1px solid yellow; */
    width: 156px;
    height: 45px;
    display: flex;
    align-items: center;
    
   
}

.lists-icon .icon  {
 /*   border: 1px solid red;  */
    width: 100%;
    text-align: center
}


.lists-icon .icon svg{
    fill:white;
} 



.lists-icon .icon .bottom{
    color: white;
    font-size: 10px;
    text-align: center;
}
.lists-icon .icon .top{
    margin-bottom: -4px;
}

.task-scroll{
  /*  border: 1px solid red;  */
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 7px;
    margin-left: 7px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 14px;
}

.addTask{
    
    border-radius: 4px;
    display:flex;
    align-items: center;
    height: 47px;
    background-color: #759473;
} 

.addTask input{
    flex-grow: 1;
    background: #759473;
    border: 1px solid #759473;
    margin-left: 8px;
    font-size: 16px;
    color: white;
    outline: none;
    width: 100%;
    
}

.addTask ::placeholder{
    color: #CEDBBF;
}
.addTask .icon svg{
    fill: white;
}
.addTask .icon{
    margin-left: 11px;
    margin-top: 5px;
}   

.task-scroll .task-list{
  /*  border: 1px solid blue;   */
    padding-bottom: 72px;
  /*  margin-top: 14px;  */
}

.task-list .task-1{
    padding-left: 0px;
    margin-bottom: 21px;
     display: none; 
}
.task-list .task-1.clone{
     padding-left: 0px;
    margin-bottom: 21px;
    display: block;
}


.task-list /*  .task-1  */ .task-item{
    border-radius: 3px;
  /*  border: 1px solid red;  */
    width: 1227.4pxpx;
    height: 46px;
    margin-top: 0px;
    list-style: none;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    padding: 0px 4px;
}
.task-list .task-1 .task-item.special{
    background: #E1F2FE;
}
.task-list /* task-1 */  .task-item .text{
    flex-grow: 1;
    margin-left: 10px;
    font-size: 15px;
    overflow: hidden;
}
.task-list /* task-1 */  .task-item .task-check{
    stroke: rgba(0,0,0,0.35);
}

.task-list /* task-1 */  .task-item .icon-1 svg{
    fill:#CEDBBF;
    stroke: rgba(0,0,0,0.35);
}
.task-list  .task-item .icon-1{
    margin-left: 17px;
    margin-left: 8px;
}


.task-list /* task-1 */  .task-item .icon-2{
    margin-right: 10px;
}
.task-list /* task-1 */  .task-item .icon-2 svg{
    fill: #A2ACB4;
}
.task-list .tieu-de{
    background: #819D7B;
    border-radius: 3px;
    width: 187.19px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: -5px
}
.task-list .task-2 .task-item{
  /*  border: 1px solid red;  */
    border-radius: 3px;
    
    height: 46px;
    background: white;
    opacity: 0.6;
    display: flex;
    align-items: center;
}
.task-list .task-2{
    padding-left: 0px;
    display: none;
}

.task-list .task-2.clone{
    display: block
}
.task-list .task-2 .task-item.special{
    background: #e1f2fe;
}
/* .task-list .task-2 .text-1{
    font-size: 15px;
    text-decoration: line-through;
}
.task-list .task-2 .text-2{
    font-size: 10px;
} */
.task-list  .task-2 .task-item .text{
    flex-grow: 1;
    margin-left: 10px;
    font-size: 15px;
    overflow: hidden;
    text-decoration: line-through;
}


.task-list  .task-1   .task-item .icon-1 .task-checked{
    display: none;
}

.task-list  .task-2   .task-item .icon-1 .task-check{
    display: none;
}

/* ----------------  chỉnh sua scroll------------------------- */

/* width */
#style-2::-webkit-scrollbar {
    width: 7px;
    
  }
  
  /* Track-đường ray */
  #style-2::-webkit-scrollbar-track {
 /*   background: #f1f1f1;   */
  }
   
  /* Handle-thanh cuộn */
  #style-2::-webkit-scrollbar-thumb {
      border-radius: 5px;
    background:#759473; 
    margin-left: 4px;
  }
  
  /* Handle on hover */
  #style-2::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }




  
  #style-1::-webkit-scrollbar {
    width: 7px;
    
  }
  
  /* Track */
  #style-1::-webkit-scrollbar-track {
     
  }
   
  /* Handle */
  #style-1::-webkit-scrollbar-thumb {
      border-radius: 5px;
    background:#C6C6C6; 
    margin-left: 4px;
  }
  
  /* Handle on hover */
  #style-1::-webkit-scrollbar-thumb:hover {
    /* background: #555;   */
  }



/*-------------------------------------------------    */

#main-right{
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}
  /*  .main-right-hide{
        display: none !important;
    }  */
   
.top-right{
  border-bottom: 1px solid #ebebeb ;  
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #FFFFFF;
}
.top-right .display-view    {
    flex-grow: 1;
    border: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 13px;
}
.top-right .icon-1{
    margin-left: 16px;
}

.top-right .icon-1 .detail-check{
    stroke: rgba(0,0,0,0.35);
}
.top-right .icon-2{
    margin-right: 12px;
    margin-bottom: 7px;
}
.top-right .icon-2 svg{
    fill:#A2ACB4;
    
}
.mid-right{
 /*   border: 1px solid green;  */
    width:100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    background-color:#FAFAFA;
    padding-bottom: 16px;
  
}
.mid-right .line-1{
 /* border: 1px solid blue;    */
    height: 48px;
    display: flex;
    align-items: center;
    color: #9fa2a6;
   
}
.mid-right .line-1 .icon-1{
    fill: #9fa2a6;
    margin-left: 14px;
    margin-right: 15px;
    
}
.mid-right .line-1 .text{
    flex-grow:1;
    font-size: 15px;
    height: 100%;
    padding-top: 15px;
    border-bottom: 1px solid #ebebeb ; 
    
}
.mid-right .line-1 input{
    flex-grow:1;
    font-size: 15px;
    background:#FAFAFA;
    color: black;
    border:1px solid #FAFAFA;
    outline: none;
    border-bottom: 1px solid #ebebeb ; 
    height: 100%;
}
.mid-right .line-1 ::placeholder{
    color: #9fa2a6;
}
.mid-right .line-1 .icon-2{
    line-height: 48px;
    border-bottom: 1px solid #ebebeb;
    padding-right: 12px;
    padding-top: 0px;
}
.mid-right .line-1 .icon-2 svg{
    position: relative;
    bottom: -5px;
    fill: #737272;
}

.bottom-right{
    height: 88px;
    width: 100%;
    background-color: white;
    position: relative;
}
.bottom-right .icon-1{
    position: absolute;
    top: 58px;
    left: 10px;
    fill: #737272;
}
.bottom-right .icon-2{
    position: absolute;
    top: 58px;
    right: 7px;
    font-size: 15px;
    fill: #737272;
}
.bottom-right .comments{
   /* border: 1px solid red;  */
    height: 45px;
    width: 100%;
    padding: 10px 10px 0 10px;
    
}
.bottom-right .input-fake{
    border: 1px solid #9fa2a6;
    border-radius: 3px;
    width: 347px;
    height: 34px;
   padding: 7px;

}
.bottom-right input{
    border: 1px solid white;
    width: 332px;
    height: 20px;
    font-size: 15px;
    outline: none;
}
.bottom-right .text{
    width: 100%;
    height: 43px;
    text-align:center;
    font-size: 11px;
    padding-top: 20px;
    color:#9fa2a6; 
}

/*-----hover chuong------------------*/
.popover-bottom{
    position: absolute;
/*   border: 1px solid red;  */
    width: 300px;
    height: 331.25px;
    top: 103px;
    left: 70px;
    background: white;
    display: none;    
    z-index: 3;
}
.popover-bottom-2{
    display: block;
}
.popover-bottom .arrow{
    position: absolute;
    width: 0px;
    height:0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 30px solid white;
    top: -29px;
    left: 139px;
}
.popover-bottom .stream-header{
    height: 38px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.06);
}
.popover-bottom .stream-body ul {
  /*  border: 1px solid yellow;  */
    margin-top: -1px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
}
.popover-bottom .stream-body li{
   /* border: 1px solid green;  */
    list-style: none;
    width: 100%;
    height:70px;
    display: flex;
    align-items: center;
    font-size: 13px;
    min-height: 40px;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.popover-bottom .stream-body li img{
    height: 39px;
    height: 39px;
    border-radius: 50%;
}
.popover-bottom .stream-body li .messenger{
    flex-grow: 1;
    padding: 0 4px;
    color:#1E1E1E;
    padding-top: 14px;
}
.popover-bottom .stream-body li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(63, 63, 63);
}
.popover-bottom .stream-body li .messenger .icon svg{
    width: 18px;
    height: 18px;
}
.popover-bottom .stream-body li .time{
    position: relative;
    font-size: 12px;
    top: -4px;
    color:  rgb(119, 119, 119);
}
 
#stream-counts #bell:hover  .popover-bottom{
 /*   display: block;   */
}


/*---------end-hover-chuong-----------------*/


/*-------------hover-messenger--------*/
.hover-messenger{
 /*   border: 1px solid red;  8*/
    position: absolute;
    width: 300px;
    height: 225.6px;
    top: 102px;
    left: 109px;
    z-index: 3;
    display :none; 
}
.hover-messenger-2{
    display: block;
}
    .hover-messenger .arrow{
    position: absolute;
    width: 0px;
    height:0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 30px solid white;
    top: -29px;
    left: 139px;
    }
    .hover-messenger .bottom{
        text-align: center;
        padding: 15px 0;
        background-color: #FAFAFA;
    }
    .hover-messenger .top{
      /*  border: 1px solid green;  */
        height: 38px;
        text-align: center;
        line-height: 38px;
        font-weight: bold;
        color: #262626;
        background: white;
        }
        .hover-messenger .text-1{
            color: rgb(91, 91, 91);
            font-size: 14px;
            
        }
        .hover-messenger .text-2{
            color: rgb(163, 163, 163);;
            font-size: 11px;
            margin-top: 16px;
        }
        .hover-messenger .icon svg{
                width: 138.21px;
                height: 100px;
                
            }       
           
                #stream-counts #message:hover .hover-messenger{
              /*      display: block;  */
                }

.hover.sort {
    position: absolute;
/*  border: 1px solid red;  */
    width: 250px;
    height: 169px;
    top: 45px;
    right: 0px;
    background-color: #668964;
    z-index: 3;
    display: none;     
}
    .hover ul{
        list-style: none;
        padding-left: 0px;
        margin-top: -1px;
    }
    
        .hover ul li{
   /*     border: 1px solid green;     */
            height: 38px;
            line-height: 40px;
            
        }
            .hover ul li a{
                cursor: pointer;
                text-decoration: none;
                color: white;
                display: block;
                height: 32px;
                width: 249px;
               
            }
            .hover ul li a:hover{
                background: #769574;
                
            }
                .hover ul li a .icon{
                   
                    margin-left: 4px;
                    margin-top: -3px;
             /*      border: 1px solid yellow;  */
                    width: 20px;
                    height: 34px;
                }
                .hover ul li a .text{
                    margin-top: -51px;
                    margin-left: 19px;
                    font-size: 13px;
                    
                    text-align: left;
                }
                    .icon.sort:hover .hover.sort{
                        display: block;
                    }

                        .hover.more{
                            position: absolute;
                        /*  border: 1px solid red;  */
                            width: 250px;
                            height: 239px;
                            top: 45px;
                            right: 0px;
                            background-color: #668964;
                            z-index: 3;
                            display: none;
                        }
                        .icon.more:hover .hover.more{
                            display: block;
                        }


.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 80px;
    padding-bottom: 80px;
    background: rgba(0,0,0,0.4);
    overflow: hidden;
   display: none;         
} 
    .dialog-wrapper{
        margin: 0 auto;
     
        width: 700px; 
        
        z-index: 4;
        overflow: hidden;
        border-radius: 3px;
         height: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         display: none;       
        }
        
        .dialog-wrapper .content{
            flex-grow: 1;
            width: 100%;
            display: flex;
            height: 100%;
            
        }
        .dialog-wrapper .content .tab{
        /*    border: 1px solid blue;  */
            width: 19%;
            height:100% ;
            border-right: 1px solid #ebebeb;
            overflow-y: auto;
            background: white;
        }
            .dialog-wrapper .content .tab ul{
                list-style: none;
                padding-left: 0px;
                margin: 0px;
            
            }
                .dialog-wrapper .content .tab ul li{
             /*       border: 1px solid black;    */
                    height: 40px;
                    width: 100%;
                    background: white;
                }
                .active{
                    background: #EBEBEB !important;
                }
              /*  .dialog-wrapper .content .tab ul #main{
                    background: #ebebeb;
                }  */

                    .dialog-wrapper .content .tab ul li a{
                        display: flex;
                        text-decoration: none;
                        display: block;
                    }
                    .dialog-wrapper .content .tab ul li a:hover{
                        background: #F5F5F5;
                    }

                        .dialog-wrapper .content .tab ul li a .icon{
                            background-image: url('image/app.png');
                            cursor: pointer;
                            vertical-align: middle;
                            display: inline-block;
                            transform: scale(.6);
                        }
                        
                        .dialog-wrapper .content .tab ul li a .icon.genaral{
                            background-position: -157px 0;
                            width: 40px;
                            height: 40px;
                        }
                        .dialog-wrapper .content .tab ul li a .icon.account{
                            background-position: 0 -153px;
                            width: 40px;
                            height: 40px;
                        }
                        .dialog-wrapper .content .tab ul li a .icon.shortcuts{
                            background-position: -80px -153px;
                            width: 40px;
                            height: 40px;
                        }
                        .dialog-wrapper .content .tab ul li a .icon.small-list{
                            background-position: -157px -40px;
                            width: 40px;
                            height: 40px;
                        }
                        .dialog-wrapper .content .tab ul li a .icon.notificaltions{
                            background-position: -60px -93px;
                            width: 40px;
                            height: 40px;
                        }
                        .dialog-wrapper .content .tab ul li a .icon.about{
                            background-position: -40px -153px;
                            width: 40px;
                            height: 40px;
                        }


                        .dialog-wrapper .content .tab ul li a .text{
                            flex-grow: 1;
                            color: black;
                            line-height: 40px;
                            font-size: 12px;
                            font-weight: bold;
                            margin-left: -5px;
                            
                        }

        .dialog-wrapper .setting-content{
            flex-grow: 1;
            background: #FAFAFA;
            overflow-y: auto;
           
        }

           /* genaral  */
        .dialog-wrapper .setting-content.genaral{
            overflow-y: auto;
            padding: 10px;
            display: none;   
        }
            .dialog-wrapper .setting-content.genaral .rows{
          /*      border : 1px solid blue;  */
                height: 42px;
                margin: 2px 7px;
                line-height: 39px;
            }
                .dialog-wrapper .setting-content.genaral .rows .col-60{
               /*     border: 1px solid red;  */
                    width: 60%;
                    height: 100%;
                    float: left;
                    text-align: right;
                    font-size: 13px;
                    padding-right: 10px;
                }   
                .dialog-wrapper .setting-content.genaral .rows .col-40{
               /*      border: 1px solid blue;   */
                     width: 40%;
                     float: left;
                     
                }
                   
                    .dialog-wrapper .setting-content.genaral .rows .col-40 select{
                        border-radius: 3px;
                        height: 32.8px;
                        
                        padding-left: 5px;
                        font-size: 13px;
                    }
                    .dialog-wrapper .setting-content.genaral .rows .col-40 .language{
                        width: 154px;
                    }
                    .dialog-wrapper .setting-content.genaral .rows .col-40 .date{
                        width:124px ;
                    }
                    .dialog-wrapper .setting-content.genaral .rows .col-40 span{
                        font-size: 13px;
                        position: relative;
                        top: -1px;
                    }
                    .dialog-wrapper .setting-content.genaral .rows .col-40 .day{
                        width: 100px;
                    }
    .dialog-wrapper .content-footer{
        height: 60px;
        width: 100%;
        background: #fafafa;
        text-align: end;
        padding: 12px;
        border-top: 1px solid #ebebeb;
      /*  border: 1px solid yellow;  */
     
    }
        .dialog-wrapper .content-footer button{
            width: 126px;
            height: 30px;
            background: #328AD6;
            border-radius: 3px;
            font-size: 13px;
            color: white;
            font-weight: bold;
            border: none;

        }
        .dialog-wrapper .content-footer button:hover{
            background:#5BA1DE;
            
        }
    
    /* account   */
        
        
        
            .dialog-wrapper .setting-content.account{
                overflow-y: auto;
                display: none;       
            }
            .dialog-wrapper .setting-content .avatar{
                height: 173px;
                border-bottom: 1px solid #ebebeb;
                text-align: center;
                padding-top: 24px;
            }
                
                .dialog-wrapper .setting-content .avatar img{
                    height: 120px;
                    width: 120px;
                    border-radius: 50%;
                    
                }
                
                    
                
                    .dialog-wrapper .setting-content .account-setting .rows{
                /*       border: 1px solid green;     */
                        width: 96%;
                        height: 30px;
                        margin: 13px auto;
                    }
                        .dialog-wrapper .setting-content .account-setting .rows .col-32{
                            width: 32%;
                    /*       border: 1px solid blue;   */
                            height: 100%;
                            float: left;
                            font-size: 14.5px;
                            text-align: end;
                            line-height: 34px;
                            padding-right: 14px;
                            color: #262626;
                        }

                        .dialog-wrapper .setting-content .account-setting .rows .col-68{
                            float: left;
                        }
                            .dialog-wrapper .setting-content .account-setting .rows .col-68 input{
                                width: 368px;
                            
                                border-radius: 3px;
                                border: 1px solid #d6d6d6;
                                padding: 6px;
                                font-size: 15px;
                                color: #262626;
                            }
    /* email */                       
                            .dialog-wrapper .setting-content .account-setting .rows .col-40{
                                float: left;  
                        /*       border: 1px solid red;  */
                                width: 40%;
                                height: 100%;
                            }
                                .dialog-wrapper .setting-content .account-setting .rows .col-40 input{
                                    height: 100%;
                                    width: 101%;
                                    color: #727171;
                                    font-size: 15px;
                                    border-radius: 3px;
                                    padding: 6px;
                                    border: 1px solid #d6d6d6;
                                    background: white;
                                }
                            .dialog-wrapper .setting-content .account-setting .rows .col-28{
                                float: left;
                    /*            border: 1px solid black;  */
                                width: 28%;
                                height: 100%;
                            }
                                .dialog-wrapper .setting-content .account-setting .rows .col-28 button{
                                    height: 100%;
                                    width: 87%;
                                    margin-left: 16px;
                                    border: 1px solid #d6d6d6;
                                    border-radius: 3px;
                                    color: #737272;
                                    font-weight: bold;
                                    font-size: 13px;
                                    cursor: pointer;
                                    background: #F0F0F0;

                                }
                                .dialog-wrapper .setting-content .account-setting .rows .col-28 button:active{
                                    background: #d6d6d6;
                                }
    /* dong 3 */            
                            .dialog-wrapper .setting-content .account-setting #row-3{
                                line-height: 28px;
                            }
                            .dialog-wrapper .setting-content .account-setting .rows .col-68 a{
                                text-decoration: none;
                                color: #328ad6;
                                font-size: 13px;
                                font-weight: bold;
                            }
    /* password  */
                            .dialog-wrapper .setting-content .account-setting .rows .col-40 button{
                                height: 100%;
                                width: 100%;
                                border: 1px solid #d6d6d6;
                                border-radius: 3px;
                                color: #737272;
                                font-weight: bold;
                                font-size: 13px;
                                cursor: pointer;
                                background: #F0F0F0;
                            }
                            .dialog-wrapper .setting-content .account-setting .rows .col-40 button:active{
                                background: #d6d6d6;
                            }
                         


    .create-newlist{
  /*      border: 1px solid red;    */ 
        margin: 0 auto;
        width: 392px;
        height: 298.2px;
        border-radius: 4px;
        display: none;   
    }         
        .create-newlist .content-header{
            height: 184.4px;
            background: white;
      /*      border: 1px solid green;   */
            padding: 14px 14px 0px;
        }
            .create-newlist .content-header h3{
                margin-top: 0px;
                font-size: 1,17em;
                text-align: center;
                margin-bottom: -5px;
            }
            .create-newlist .content-header .separator.nolive{
        /*        border: 1px solid yellow;   */
                margin: 14px 0;
                
               height: 37.4px;
            }
                .create-newlist .content-header .separator.nolive>input{
                    width: 100%;
                    height: 100%;
                    padding: 9px 10px 10px;
                    border: 1px solid #D6D6D6;
                    border-radius: 3px;
                }
                .create-newlist .content-header .separator.nolive ul{
                    list-style: none;
                    padding-left: 0px;
                   border-bottom: 1px solid #737272;
                    margin-top: 0px;
                }
                    .create-newlist .content-header .separator.nolive ul li{
                        display: inline-block;
                        color: #737272;
                        font-size: 10px;
                        font-weight: bold;
                        margin-right: 11px;
                /*        border-bottom: 1px solid #737272;   */
                        height: 18px;
                        cursor: pointer;
                    }
            .create-newlist .content-header .separator.nolive.tab.member{
                margin-top: -15px;
                border: 1px solid #D6D6D6;
                border-radius: 3px;
                display: flex;
            }
                .create-newlist .content-header .separator.nolive.tab.member svg{
                    margin-top: 7px;
                    margin-left: 5px;
                    margin-right: 7px;
            }
                .create-newlist .content-header .separator.nolive.tab.member .input{
                    line-height: 34px;
                }
                .create-newlist .content-header .separator.nolive.tab.member input{
                   
                    
                    width: 326px;
                    outline: none;
                    border: none;
                }
                
        .create-newlist .tab-member{
      /*      border: 1px solid yellow;   */
            border-top: 1px solid #d6d6d6;
            border-bottom:  1px solid #d6d6d6;
            width: 100%;
            height: 56px;
            padding: 0 14px;
            background: #FAFAFA;
        }         
            .create-newlist .tab-member ul{
                list-style: none;
                padding-left: 0px;
                margin-top: 0px;
            }
                .create-newlist .tab-member ul li{
                    display: flex;
                    margin-top: 8px;
                }
                    .create-newlist .tab-member ul li img{
                        width: 32px;
                        border-radius: 50%;
                    }
                    .create-newlist .tab-member ul li .content-people-meta{
                        flex-grow: 1;
                        padding-left: 9px;
                       
                    }
                        .create-newlist .tab-member ul li .content-people-meta .name{
                            font-weight: bold;
                            font-size: 14px;
                        }
                        .create-newlist .tab-member ul li .content-people-meta .badge{
                            border: 1px solid #328ad6;
                            padding: 1px 7px;
                            border-radius: 10px;
                            font-size: 10px;
                            color: #1f7bcc;
                        }
                    .create-newlist .tab-member ul li .content-people-email{
                        font-size: 12px;
                        color: #737272;
                        margin-top: 1px;
                    }

        .create-newlist .content-footer{
       /*     border: 1px solid yellow;   */
            height: 55px;
            text-align: end;
            line-height: 54px;
            padding-right: 14px;
            background: #FAFAFA;
        }
        .create-newlist .content-footer .save{
            height: 30px;
            width: 102px;
            background: #328AD6;
            border: none;
            border-radius: 3px;
            color: white;
            font-weight: bold;
            margin-right: -2px;
        }
        .create-newlist .content-footer .cancel{
            height: 30px;
            width: 102px;
            background:white;
            border-radius: 3px;
            color: black;
            font-weight: bold;
            margin-right: 6px;
            border: 1px solid #d6d6d6;
            outline: none;
        }
    
    .delete-item{
        max-height: 100%;
        margin: 0 auto;
        width: 392px;
        display: none;
   
    }
        .delete-item .content{
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            background: white;

        }
            .delete-item .content .content-inner{
                width: 100%;
                
                padding: 24px;
                flex-grow: 1;
                overflow: auto;
                display: flex;

            }
                .delete-item .content .content-inner .icon{
                    background-image: url(image/app.png);
                    cursor: pointer;
                    background-position: -93px 0;
                    width: 64px;
                    height: 64px;
                    vertical-align: middle;
                    display: inline-block;
                }
                .delete-item .content .content-inner .confirm-text{
                    color: #262626;
                    flex-grow: 1;
                    padding-left: 20px;
                }
                    .delete-item .content .content-inner .confirm-text h3{
                        font-size: 15px;                      
                        margin-top: 0px;
                    }
                    .delete-item .content .content-inner .confirm-text p{
                        font-size: 11px;
                        margin-top: -12px;
                      
                    }

            .delete-item .content .content-footer{
                border-top: 1px solid #e0e0df;
                height: 53.8px;
                padding: 12px;
                text-align: end;
            }
                .delete-item .content .content-footer button{
                   
                    border-radius: 3px;
                    margin-left: 15px;
                    width: 140px;
                    height: 28.8px;
                    outline: none;
                }
                .delete-item .content .content-footer button.cancel{
                    background: #fafafa;
                    border: 1px solid #d6d6d6;
                    color: #737272;
                    font-weight: bold;
                }
                .delete-item .content .content-footer button.delete{
                    background: #328ad6;
                    color: white;
                    border: 1px solid #328ad6;
                }




#right-mouse{
    overflow: hidden;
  
}


    #right-mouse ul{
        list-style: none;
        position: absolute;
        padding: 0;
        background: white;
        box-shadow: 0 1px 5px rgba(0,0,0,0.3);
        width: 200px;
         overflow: hidden;
        
/*       border: 1px solid red;       */
         
    }
   
        #right-mouse ul .list-item{
           padding: 7.6px 0;
            border-bottom: 1px solid #E0E7E0;
        }
        #right-mouse ul .list-item.end{
            border: none;
        }
        #right-mouse ul li{
    /*        border: 1px solid green;     */
            display: flex;
            align-items: center;
            height: 28px;
            position: relative;
            padding: 0 6px;
            cursor: pointer;
        }
        #right-mouse ul #special:hover .sub-menu{
            display:block;
        }
        #right-mouse ul li .sub-menu{
            position: absolute;
            left: 215px;
            top: 0px;
         
            display: none;
        }
        #right-mouse ul li:hover {
            background: #EEF3EF;
        }
            #right-mouse .inbox{
           /*     border: 1px solid red;  */
               
         /*       height: 70px;   */
                top: 0px;
                left: 0px;
                 display: none; 
            }
                #right-mouse .icon{
                    margin-right: 6px;
                    fill: #737272;
                }
                #right-mouse .icon.special{
                    stroke: #737272;
                }
                
                #right-mouse .text{
                    flex-grow: 1;
                    color: #262626;
                    font-size: 14px;
                }


            #right-mouse .cong-viec{
               
                
             /*   height: 287px;   */
                top: 189px;
                left: 60px;
                display: none;
               
            }
            #right-mouse .task-top{
                top: 130px;
                left: 410px;
                width: 215.83px;
                display: none;
              
            }
            #right-mouse .task-bottom{
                top: 267px;
                right: 132px;
                display: none;
              
            }



/*-----------------------------------Responsive---------------------------------------*/
/* @media only screen and (max-width: 1000px){
    #main-left{
        display: none;
    }
    
} 
@media only screen and (min-width: 1000px){
    #main-left-responsive{
        display: none;
    }
} */


